.cruise-menu {
  padding-inline-start: 0;
  padding-left: 0;
  &__normal {
    .cruise-menu-item-style(black, @SHALLOW_GRAY, black);
  }
  &__dark {
    .cruise-menu-item-style;
  }
}

.cruise-menu-item-style(@text: white, @active: @SUB_DARK, @activeText: @MAIN_BLUE) {
  .cruise-menu-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    list-style: none;
    color: @text;
    height: 45px;
    &-title {
      display: inline-block;
      text-align: center;
      width: 40px;
    }
    >a {
      text-decoration: none;
      color: @text;
      width: 100%;
      line-height: 40px;
    }
    &:hover {
      background-color: @active;
    }
    &__active {
      color: @activeText;
      background-color: @active;
      >a {
        color: @activeText;
      }
    }
  }
}
