@import "variables";
@import "layout/globelLayout";
@import "layout/normalPageLayout";
@import "components/input";
@import "components/popover";
@import "components/button";
@import "components/menu";
@import "components/newsboard";
@import "pages/agent";

body {
  margin: 0;
  padding: 0;
  font-family: Avenir,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #2D4054;
}

#root {
  height: 100%;
}

p {
  margin: 0;
}

div {
  box-sizing: border-box;
}
